.TimerControl
  background-color black
  border .25rem solid
  color white
  display block
  margin-bottom 1.5rem
  padding 1.2rem
  width 100%
  transition all .1s

  &:focus
    outline none

  &:hover
    cursor pointer
