.RadialControl
  position relative

  &-square
    background-color #fff
    width 20px
    height 20px
    position absolute
    left 48.65%
    top 41%

  &-circle
    stroke red
    stroke-width 2px

    &-container
      transform scaleY(-1)

    &-background
      stroke gray
