.progressBarWrapper
	position relative

.TimerProgressBar
	appearance none
	background-color white
	border none
	border-radius 2px
	display block
	height 15px
	margin-bottom 1rem
	transform rotate(180deg)
	width 50%

	&[value]::-webkit-progress-bar
		background-color white
		border-radius 2px

	&[value]::-webkit-progress-value
		background-color red
		border-radius 2px
		transition width 1s linear

	&[value]::-moz-progress-bar
		background-color red
		// background-image -moz-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -moz-linear-gradient(left, blue, purple)
		background-size 35px 20px, 100% 100%, 100% 100%

.progressBarPolyfill
	background-color red
	border-radius 2px
	clip-path polygon(0 0, 100% 0, 100% 100%, 0 100%)
	height 16px
	position absolute
	right 49.9%
	top 0
	transition width 1s linear

.progressBarRefill
	transition none
