.TextInputField
  font-size 1.25rem
  border 2px solid #FFF
  background inherit
  font-family myriad-pro, sans-serif
  padding 1rem
  width 100%
  color #f7fcff

  &::placeholder
    color #f7fcff
    opacity .4

  &:focus
    outline none
    color #FF4200
    opacity .9
    caret-color #fff
