.TextInputField
  font-size 1rem
  border 2px solid #FFF
  background inherit
  font-family myriad-pro, sans-serif
  padding .75rem

  &::placeholder
    color #f7fcff
    opacity .8

  &:focus
    outline none
