.DigitLine {
    background-color: #333;
    padding: 0.2rem;
    position: relative;
}

.DigitLine::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: .195rem solid rgba(0,0,0,0);
    border-bottom: .195rem solid rgba(0,0,0,0);
    border-right: 5px solid #333;
    position: absolute;
    left: -5px;
    top: 0;
}

.DigitLine::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: .195rem solid rgba(0,0,0,0);
    border-bottom: .195rem solid rgba(0,0,0,0);
    border-left: 4px solid #333;
    position: absolute;
    right: -4px;
    top: 0;
}

.DigitLine:nth-child(odd)::before {
    transform: rotate(90deg);
    left: 1px;
    top: -5px;
}

.DigitLine:nth-child(odd)::after {
    transform: rotate(90deg);
    left: 1px;
    bottom: -5px;
    top: auto;
}

.DigitLine:nth-child(1) { grid-area: a; height: 2rem; }
.DigitLine:nth-child(2) { grid-area: b; width: 2rem; }
.DigitLine:nth-child(3) { grid-area: c; height: 2rem; }
.DigitLine:nth-child(4) { grid-area: d; width: 2rem; }
.DigitLine:nth-child(5) { grid-area: e; height: 2rem; }
.DigitLine:nth-child(6) { grid-area: f; width: 2rem; }
.DigitLine:nth-child(7) { grid-area: g; height: 2rem; }

.DigitLine-on {
    background-color: #eee;
}

.DigitLine-on::before,
.DigitLine-on::after {
    border-left-color: #eee;
    border-right-color: #eee;
}