.DigitLine
  --responsive calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 320px) / (1200 - 320)))
  --max-font 50
  --min-font 8.1
  font-size var(--responsive)
  padding 0.2rem
  position relative
  transition padding 700ms, height 700ms, width 700ms

  &:nth-child(odd)::before
    transform rotate(90deg)
    left 1px
    top -5px

  &:nth-child(odd)::before
    transform rotate(90deg)
    left 1px
    bottom -5px
    top auto

  &:nth-child(1) { grid-area: a; height: 3.5em; }
  &:nth-child(2) { grid-area: b; width: .75em; }
  &:nth-child(3) { grid-area: c; width: 1.7em; }
  &:nth-child(4) { grid-area: d; width: .75em; }
  &:nth-child(5) { grid-area: e; height: 3.5em; }
  &:nth-child(6) { grid-area: f; width: .75em; }
  &:nth-child(7) { grid-area: g; width: 1.7em; }
  &:nth-child(8) { grid-area: h; width: .75em; }
  &:nth-child(9) { grid-area: i; height: 3.5em; }
  &:nth-child(10) { grid-area: j; width: .75em; }
  &:nth-child(11) { grid-area: k; width: 1.7em; }
  &:nth-child(12) { grid-area: l; width: .75em; }
  &:nth-child(13) { grid-area: m; height: 3.5em; }

  @media (min-width 31.25em)
    font-size 16px
    padding .4rem

    &:nth-child(2),
    &:nth-child(10)
      height: calc(.25em + 1vh)

.TimerDisplayInitial .DigitLine
  font-size 5px
  padding 0.4em

  &:nth-child(2),
  &:nth-child(10)
    height: calc(.25em + .25vh)

