.DigitLine
  padding 0.4rem
  position relative

  &:nth-child(1) { grid-area: a; height: 3.5rem; }
  &:nth-child(2) { grid-area: b; width: .75rem; }
  &:nth-child(3) { grid-area: c; width: 1.7rem; }
  &:nth-child(4) { grid-area: d; width: .75rem; }
  &:nth-child(5) { grid-area: e; height: 3.5rem; }
  &:nth-child(6) { grid-area: f; width: .75rem; }
  &:nth-child(7) { grid-area: g; width: 1.7rem; }
  &:nth-child(8) { grid-area: h; width: .75rem; }
  &:nth-child(9) { grid-area: i; height: 3.5rem; }
  &:nth-child(10) { grid-area: j; width: .75rem; }
  &:nth-child(11) { grid-area: k; width: 1.7rem; }
  &:nth-child(12) { grid-area: l; width: .75rem; }
  &:nth-child(13) { grid-area: m; height: 3.5rem; }
