.DigitLine {
    font-size: 16px;
    padding: 0.4rem;
    position: relative;
    transition: padding 700ms, height 700ms, width 700ms;
}

.TimerDisplayInitial .DigitLine {
    font-size: 5px;
    padding: .1rem;
}

.DigitLine:nth-child(odd)::before {
    transform: rotate(90deg);
    left: 1px;
    top: -5px;
}

.DigitLine:nth-child(odd)::after {
    transform: rotate(90deg);
    left: 1px;
    bottom: -5px;
    top: auto;
}

.DigitLine:nth-child(1) { grid-area: a; height: 3.5em; }
.DigitLine:nth-child(2) { grid-area: b; width: .75em; }
.DigitLine:nth-child(3) { grid-area: c; width: 1.7em; }
.DigitLine:nth-child(4) { grid-area: d; width: .75em; }
.DigitLine:nth-child(5) { grid-area: e; height: 3.5em; }
.DigitLine:nth-child(6) { grid-area: f; width: .75em; }
.DigitLine:nth-child(7) { grid-area: g; width: 1.7em; }
.DigitLine:nth-child(8) { grid-area: h; width: .75em; }
.DigitLine:nth-child(9) { grid-area: i; height: 3.5em; }
.DigitLine:nth-child(10) { grid-area: j; width: .75em; }
.DigitLine:nth-child(11) { grid-area: k; width: 1.7em; }
.DigitLine:nth-child(12) { grid-area: l; width: .75em; }
.DigitLine:nth-child(13) { grid-area: m; height: 3.5em; }

.DigitLine-on {
    background-color: #eee;
}

.DigitLine-on::before,
.DigitLine-on::after {
    border-left-color: #eee;
    border-right-color: #eee;
}